@using Sale_Order.Models;
@using Newtonsoft.Json;
@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    var m = ViewData["bill"] as MXModel;
    var order = m.head;
    var details = m.entrys;
    var dJson = JsonConvert.SerializeObject(details);
    string account = "光电总部";
}

<script>
    //不同公司各自获取自己K3的基础资料
    $(function(){

        $(".k3_item").each(function(){
            var what=$(this).attr("data-what");
            var panelWidth=$(this).attr("data-panelWidth") || null;
            var penelHeight=$(this).attr("data-panelHeight") || 300;
            var editable=$(this).attr("data-editable") || true;
            var required=true;
            if($(this).attr("data-required")=="false"){
                required=false;
            }

            $(this).combobox({
                valueField:"name",
                textField:"name",
                url:"../Items/getItems?what="+what+"&account=@account",
                width:140,
                panelHeight:penelHeight,
                panelWidth:panelWidth,
                editable:editable,
                required:required
            });
        });

        $("#agency_div").css("visibility","visible");

    });
</script>
<script type="text/javascript">
        
    var tax_rate = 13;
    $(function () {

        //订单明细表
        $("#order_detail").datagrid({
            fit: true,
            rownumbers: true,
            singleSelect: true,
            data:@Html.Raw(dJson),
            columns: [[
                        { field: 'account', title: '公司', width:100 },
    					{ field: 'item_no', title: '@Html.Lang("pro_num")', width: 120 },
    					{ field: 'item_name', title: '@Html.Lang("pro_name")', width: 140 },
                        { field: 'item_modual', title: '@Html.Lang("pro_model")', width: 180 },
                        { field: 'unit_name', title: '@Html.Lang("unit")', width: 60 },
    					{ field: 'qty', title: '@Html.Lang("qty")', width: 80, align: 'right' },
                        { field: 'quote_no', title: '@Html.Lang("quote_num")', width: 100 },
    					{ field: 'cost', title: '@Html.Lang("cost")', width: 80, align: 'right' },
                        { field: 'deal_price', title: '@Html.Lang("deal_price")', width: 80, align: 'right' },
                        { field: 'discount_rate', title: '@Html.Lang("discount_rate")%', width: 60, align: 'right' },
                        { field: 'unit_price', title: '@Html.Lang("price_without_tax")', width: 90, align: 'right' },
    					{ field: 'aux_tax_price', title: '@Html.Lang("taxed_price")', width: 90, align: 'right' },
                        { field: 'fee_rate', title: '@Html.Lang("fee_rate")%', width: 60, align: 'right' },
                        { field: 'customer_po', title: '@Html.Lang("customer_item_number")', width: 100 },
                        { field: 'customer_pn', title: '@Html.Lang("customer_item_model")', width: 100 },
                        { field: 'delivery_date', title: '@Html.Lang("begin_date")', width: 110, align: 'center',
                            formatter: function (value, row, index) {
                                return toDateStr(value);
                            }
                        },
                        { field: 'comment', title: '@Html.Lang("pro_size")', width: 200 }
            ]],
            toolbar: [{
                text: "@Html.Lang("add_item")",
                iconCls: 'icon-add',
                handler: addDetail
            }, '-', {
                text: "@Html.Lang("edit_item")",
                iconCls: 'icon-edit',
                handler: updateDetail
            }, '-', {
                text: "@Html.Lang("del_item")",
                iconCls: 'icon-remove',
                handler: function () {
                    var row = $('#order_detail').datagrid('getSelected');
                    if (row) {
                        $.messager.confirm('@Html.Lang("confirm")', '@Html.Lang("are_you_sure")?', function (r) {
                            if (r) {
                                var index = $('#order_detail').datagrid('getRowIndex', row);
                                $('#order_detail').datagrid('deleteRow', index);
                            }
                        });
                    }
                }
            }]
        });

        $("#currency_name").combobox({            
            onChange: function (newValue, oldValue) {
                if (newValue == "人民币") {
                    if (tax_rate == 0) {
                        tax_rate = 13;
                    }
                } else {
                    tax_rate = 0;
                }
            }
        });


        //几个表头combobox的搜索方法
        $(".clerk_box").each(function () {
            $(this).combobox({
                valueField: "name",
                textField: "name",
                keyHandler: {
                    query: function () { },
                    enter: function () {
                        var box_id = $(this).attr("id");
                        var url = "@Url.Content("~/Items/getClerks")";
                        var _this = "#" + box_id;
                        var q = $(_this).combobox('getText');
                        if (q != "") {
                            $.post(url, { q: q ,account:"@account" },
                            function (data) {
                                $(_this).combobox('loadData', data);
                                $(_this).combobox('setText', q);
                            },
                            "json"
                            );
                        }
                    }
                }
            });
        });

        //客户下拉框
        $(".customerbox").each(function () {
            $(this).combogrid({
                idField: "name",
                textField: "name",
                panelWidth: 400,
                columns: [[
                        { field: 'number', title: '@Html.Lang("customer_num")', width: 100 },
                        { field: 'name', title: '@Html.Lang("customer_name")', width: 260 }
                ]],
                keyHandler: {
                    query: function () { },
                    enter: function () {
                        var box_id = $(this).attr("id");
                        var _this = "#" + box_id;
                        var q = $(_this).combogrid('getText');
                        if (q != "") {
                            $.post("@Url.Content("~/Items/getCostomers")", { q: q,account:"@account" },
                                function (data) {
                                    $(_this).combogrid('grid').datagrid('loadData', data);
                                    $(_this).combogrid('setText', q);
                                },
                                "json"
                                );
                        }
                    }
                }

            });
        });               

        $("#item_no").combogrid({
            idField: "number",
            textField: "number",
            panelWidth: 600,
            required: 'true',
            columns: [[
                    { field: 'number', title: '@Html.Lang("pro_num")', width: 150 },
                    { field: 'name', title: '@Html.Lang("pro_name")', width: 150 },
                    { field: 'model', title: '@Html.Lang("pro_model")', width: 220 },
                    { field: 'unit_name', title: '@Html.Lang("unit")', width: 50 }
            ]],
            keyHandler: {
                query: function () { },
                enter: function () {
                    var q = $("#item_no").combogrid('getText');
                    if (q != "") {
                        $.post("@Url.Content("~/Items/getProductInfo")", { q: q,account:"@account" },
                                function (data) {
                                    $("#item_no").combogrid('grid').datagrid('loadData', data);
                                    $("#item_no").combogrid('setText', q);
                                },
                                "json"
                                );
                    }
                }
            }

        });

        //产品代码从下拉列表中选中一项的处理事件
        $("#item_no").combogrid('grid').datagrid({
            onClickRow: function (rowIndex, rowData) {
                $("#item_id").val(rowData.id);
                $("#item_no").combogrid('setValue', rowData.number);
                $("#item_name").textbox("setValue", rowData.name);
                $("#item_modual").textbox("setValue", rowData.model);
                $("#unit_no").val(rowData.unit_number);
                $("#unit_name").textbox("setValue", rowData.unit_name);
                $("#item_no").combogrid('hidePanel');
            }
        });



        //不含税单价，含税单价
        var stop = 0;
        $("#dlg_details").dialog({
            onOpen: function () {
                $("#unit_price").numberbox({
                    onChange: function (newValue, oldValue) {
                        var _taxRate = $("#tax_rate").numberbox("getValue") || tax_rate;
                        if (newValue != "" && stop == 0) {
                            stop = 1;
                            $("#aux_tax_price").numberbox("setValue", newValue * (1 + _taxRate / 100));
                        } else {
                            stop = 0;
                        }
                    }
                });
                $("#aux_tax_price").numberbox({
                    onChange: function (newValue, oldValue) {
                        var _taxRate = $("#tax_rate").numberbox("getValue") || tax_rate;
                        if (newValue != "" && stop == 0) {
                            stop = 1;
                            $("#unit_price").numberbox("setValue", newValue / (1 + _taxRate / 100));
                        } else {
                            stop = 0;
                        }
                    }
                });
            }

        });

        //保存订单
        $('#saveAllBut').bind('click', function () {
            if (!$('#order_form').form('validate')) {
                return;
            }

            if (beforeSaveOrder()) {
                var details = $("#order_detail").datagrid("getRows");
                var head = getFormJson($("#order_form"));

                head.oversea_percentage = head.oversea_percentage || 0;
                head.percent2 = head.percent2 || 0;
                head.percent3 = head.percent3 || 0;

                //将combobox和combogrid的text设置到_name属性中并和head合并
                Object.assign(head, getFormComboboxText($('#order_form')));

                $.messager.progress();
                $('#saveAllBut').linkbutton('disable');
                $('#submitApply').linkbutton('disable');
                $.post("@Url.Content("~/NSaler/SaveBill")",
                    {
                        sys_no:"@order.sys_no",
                        head: JSON.stringify(head),
                        details: JSON.stringify(details)
                    },
                    function (data) {
                        if (data.suc) {
                            tip("保存成功");
                        } else {
                            tip(data.msg);
                        }
                        $.messager.progress("close");
                        $('#saveAllBut').linkbutton('enable');
                        $('#submitApply').linkbutton('enable');
                    }
                );
            }

        });
        
    });

    //保存订单时各种验证
    function beforeSaveOrder() {
        if ($("#order_detail").datagrid("getRows").length == 0) {
            tip("@Html.Lang("one_detail_at_least")");
            return false;
        }
        var percentSum = Number($("#percent1").numberbox("getValue")) + Number($("#percent2").numberbox("getValue")) + Number($("#percent3").numberbox("getValue"));
        if (percentSum != 100) {
            tip("比例1和比例2和比例3之和必须为100");
            return false;
        }

        ///2018-3-20加入的一些规则
        var tradeType = $("#trade_type_name").combobox("getText");
        var saleWay = $("#sale_way_name").combobox("getText");
        var deliveryPlace = $("#delivery_place_name").combobox("getText");

        if ($("#currency_name").combobox("getText") == "人民币") {
            if (tradeType != "国内贸易") {
                tip("保存失败：币别为人民币时，贸易方式必须为国内贸易！");
                return false;
            }
            if (saleWay != "分期收款销售") {
                tip("保存失败：币别为人民币时，销售方式必须为分期收款销售！");
                return false;
            }
            if (deliveryPlace.indexOf("汕尾") < 0) {
                tip("保存失败：币别为人民币时，交货地点必须选择汕尾！");
                return false;
            }
        } else {
            if (tradeType == "国内贸易") {
                tip("保存失败：币别为非人民币时，贸易方式不能为国内贸易！");
                return false;
            }
            if (deliveryPlace.indexOf("香港") < 0) {
                tip("保存失败：币别为非人民币时，交货地点必须选择香港！");
                return false;
            }
        }

        if (countCharNum($("#description").textbox("getValue")) > 255) {
            tip("【说明】字段内容太长，不能超过255个字符，请精简后再保存。");
            return false;
        }
        return true;
    }

    //以下是订单明细的增删改
    var detailIndex = -1;
    function addDetail() {
        detailIndex = -1;
        $("#fm").form("clear");
        $("#dlg_details").dialog("open").dialog("setTitle", "@Html.Lang("add_item")");
        $("#fm").form("clear");
        $("#tax_rate").numberbox("setValue", tax_rate);
    }

    function updateDetail() {
        var row = $('#order_detail').datagrid('getSelected');
        if (row) {
            detailIndex = $('#order_detail').datagrid('getRowIndex', row);

            $("#fm").form("load", row);
            $("#dlg_details").dialog("open").dialog("setTitle", "@Html.Lang("edit_item")");
            //因为以下2个日期有onselect方法，所以form的load方法设置不了？只能手动设置了
            $("#delivery_date").datebox("setValue", row.delivery_date);
        }
    }

    function saveOrderDetails() {
        if (!$("#fm").form("validate")) {
            return;
        }
        if ($('#item_name').val() == "") {
            tip("产品名称不能为空");
            return;
        }
        var date_1 = $("#order_date").datebox('getValue');
        var date_2 = $("#delivery_date").datebox('getValue');
        if (date_1 > date_2) {
            tip("开始交货期不能小于下单日期");
            return;
        }

        var row = getFormJson($("#fm"));    

        row.discount_rate = row.discount_rate || 0;

        if (detailIndex == -1) {
            $('#order_detail').datagrid('appendRow', row);
        } else {
            $('#order_detail').datagrid('updateRow', {
                index: detailIndex,
                row: row
            });
        }
        $('#dlg_details').dialog('close');
    }

</script>

@if (order.step_version == 0) {
    <script>
        $(function(){

            //提交申请按钮
            $("#submitApply").click(function () {
                //判断合同编号是否已存在
                nowApply();
            });
        });

        function nowApply() {
            $("#submitApply").linkbutton('disable');
            $('#saveAllBut').linkbutton('disable');
            tip("正在提交，请等待跳转。。。");
            $.post("BeginApply",{sysNo:"@order.sys_no"},function(data){
                tip(data.msg);
                if(data.suc){
                    setTimeout('window.location.href="@Url.Content("~/NSaler/CheckBillList?billType=SO")"', 1000);
                }else{
                    $("#submitApply").linkbutton('enable');
                    $('#saveAllBut').linkbutton('enable');
                }
            });

        }

    </script>
}

<div class="easyui-layout" data-options="fit:true" id="agency_div" style="visibility:hidden">
    @if (order.step_version > 0) {
        @*挂起信息*@
        @Html.Partial("_BlockInfoPartial")
    }
    <div data-options="region:'center'">
        <form id="order_form" method="post">
            <input type="hidden" name="step_version" id="step_version" value="@order.step_version" />
            <div id="order_div" class="easyui-panel" title="新建Total Solution" style="width: 940px; padding: 10px; background: #fafafa;">
                <div>
                    @*表头*@
                    <table border="0" cellpadding="0" cellspacing="3" style="width:900px;">                        
                        <tr>
                            <td>
                                @Html.Lang("order_date"):
                            </td>
                            <td>
                                <input class="easyui-datebox" id="order_date" name="order_date" style="width: 140px" value="@(((DateTime)order.order_date).ToString("yyyy-MM-d"))" />
                            </td>
                            <td>
                                @Html.Lang("sys_num"):
                            </td>
                            <td>
                                <input class="easyui-textbox" name="sys_no" id="sys_no" style="width:140px" readonly="readonly" value="@order.sys_no" />
                            </td>
                            <td>
                                @Html.Lang("trade_type"):
                            </td>
                            <td>
                                <input class="easyui-combobox" id="trade_type_name" name="trade_type_name" style="width:140px"
                                       data-options="textField:'value',valueField:'value',panelHeight:'auto', editable:false,required:true,
                                           data:[
                                           {value:'国内贸易'},{value:'一般贸易'},{value:'保税贸易'}
                                           ]"
                                        value="@order.trade_type_name" />
                            </td>
                            <td>
                                部门:
                            </td>
                            <td>
                                <input class="easyui-combobox" id="department_name" name="department_name" style="width:140px"
                                       data-options="textField:'value',valueField:'value', editable:true,required:true,
                                           data:[
                                           {value:'中国市场部一部'},{value:'中国市场部二部'},{value:'中国市场部三部'},
                                           {value:'中国市场部四部'},{value:'中国市场部五部'},{value:'中国市场部六部'},
                                           {value:'中国市场部七部'},{value:'中国市场部八部'},{value:'中国市场部九部'},
                                           {value:'中国市场部十部'},{value:'中国市场部十一部'},{value:'中国市场部十二部'},
                                           {value:'中国市场部十三部'},{value:'中国市场部十四部'},{value:'中国市场部十五部'}
                                           ]"
                                       value="@order.department_name" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.Lang("order_type"):
                            </td>
                            <td>
                                <input class="k3_item" id="order_type_name" name="order_type_name" data-what="order_type" data-panelheight="auto" value="@order.order_type_name" />
                            </td>
                            <td>
                                @Html.Lang("pro_use"):
                            </td>
                            <td>
                                <input class="easyui-textbox" id="product_use" name="product_use" style="width: 140px" required="true" value="@order.product_use" />
                            </td>
                            <td>
                                @Html.Lang("payment"):
                            </td>
                            <td>
                                <input class="k3_item" id="clearing_way_name" name="clearing_way_name" data-what="clearing_way" data-panelwidth="240" data-editable="true" value="@order.clearing_way_name" />
                            </td>
                            <td>
                                @Html.Lang("currency"):
                            </td>
                            <td>
                                <input class="k3_item" id="currency_name" name="currency_name" data-what="currency" data-panelheight="auto" value="@order.currency_name" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.Lang("customer_name"):
                            </td>
                            <td>
                                <input class="customerbox" id="buy_unit_name" name="buy_unit_name" style="width: 140px" panelwidth="240px" required="true" value="@order.buy_unit_name" />
                            </td>
                            <td>
                                @Html.Lang("oversea_customer"):
                            </td>
                            <td>
                                <input class="customerbox" id="oversea_client_name" name="oversea_client_name" style="width: 140px" panelwidth="240px" required="true" value="@order.oversea_client_name" />
                            </td>
                            <td>
                                @Html.Lang("manager"):
                            </td>
                            <td>
                                <input class="clerk_box" id="charger_name" name="charger_name" style="width: 140px" required="true" value="@order.charger_name" />
                            </td>
                            <td>
                                @Html.Lang("delivery_place"):
                            </td>
                            <td>
                                <input class="easyui-combobox" id="delivery_place_name" name="delivery_place_name" style="width: 140px" 
                                       data-options="textField:'value',valueField:'value',panelHeight:'auto', editable:false,required:true,
                                           data:[
                                           {value:'汕尾'},{value:'香港'}
                                           ]" value="@order.delivery_place_name" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.Lang("sale_type"):
                            </td>
                            <td>
                                <input class="k3_item" id="sale_way_name" name="sale_way_name" data-what="sale_type" data-panelheight="auto" value="@order.sale_way_name" />
                            </td>
                            <td>
                                @Html.Lang("clerk1"):
                            </td>
                            <td>
                                <input class="clerk_box" id="clerk_name" name="clerk_name" style="width: 140px" required="true" value="@order.clerk_name" />
                            </td>
                            <td>
                                @Html.Lang("clerk2"):
                            </td>
                            <td>
                                <input class="clerk_box" id="clerk2_name" name="clerk2_name" style="width: 140px" value="@order.clerk2_name" />
                            </td>
                            <td>
                                @Html.Lang("clerk3"):
                            </td>
                            <td>
                                <input class="clerk_box" id="clerk3_name" name="clerk3_name" style="width: 140px" value="@order.clerk3_name" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.Lang("trade_rule"):
                            </td>
                            <td>
                                <input class="k3_item" id="trade_rule_name" name="trade_rule_name" data-what="trade_rule" data-required="false" data-panelheight="auto" value="@order.trade_rule_name" />
                            </td>
                            <td>
                                @Html.Lang("percent1"):
                            </td>
                            <td>
                                <input class="easyui-numberbox" id="percent1" name="percent1" min="0" max="100" precision="1" style="width: 140px" value="@order.percent1" required="true" />
                            </td>
                            <td>
                                @Html.Lang("percent2"):
                            </td>
                            <td>
                                <input class="easyui-numberbox" id="percent2" name="percent2" min="0" max="100" precision="1" style="width: 140px" value="@order.percent2" />
                            </td>
                            <td>
                                @Html.Lang("percent3"):
                            </td>
                            <td>
                                <input class="easyui-numberbox" id="percent3" name="percent3" min="0" max="100" precision="1" style="width: 140px" value="@order.percent3" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.Lang("contract_num"):
                            </td>
                            <td>
                                <input class="easyui-textbox" id="contract_no" name="contract_no" style="width: 140px" required="true" value="@order.contract_no" />
                            </td>
                            <td>
                                @Html.Lang("biller"):
                            </td>
                            <td>
                                <input class="easyui-textbox" id="user_name" name="user_name" value="@order.user_name" readonly="readonly" style="width: 140px" />
                                <input type="hidden" name="user_id" value="@order.user_id" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.Lang("description"):
                            </td>
                            <td colspan="7">
                                <input class="easyui-textbox" name="description" id="description" multiline="true" style="width:700px;height:60px" value="@order.description" />
                            </td>
                        </tr>
                    </table>
                </div>
                @*订单明细*@
                <br />
                <div id="detail_div" class="easyui-panel" title="@Html.Lang("sale_order_detail")" style="width:900px;height:280px">
                    <table id="order_detail"></table>
                </div>
                <br />

                @*营业员比例*@
                <br />
                <div class="easyui-panel" style="background: #fafafa;padding:10px;width:850px;" title="@Html.Lang("clerk_percent")">
                    <div id="Saler_div">
                        <input class="easyui-textbox" name="salePs" id="salePs" style="width:760px" value="@order.salePs" required />
                    </div>
                </div>
                <br />

                @if (order.step_version == 0) {
                    <div>
                        @*上传文件的*@
                        <input type="hidden" value="@order.sys_no" id="wu_sysNum" />
                        @Html.Partial("_UploadFilePartial_wu")
                    </div>
                }
                else {
                    <div id="downloadPanel">
                        <div class="easyui-panel" href="@string.Concat(Url.Content("~/Items/downLoadFile?sys_no="), order.sys_no)" id="downFile" style="background: #fafafa; padding: 10px;width:800px; " title="@Html.Lang("download_file")">
                        </div>
                    </div>
                }

                <div align="center">
                    <a id="saveAllBut" href="#uploadInfo" class="easyui-linkbutton" iconcls='icon-save' style="margin:10px 20px;">@Html.Lang("save_form")</a>
                    @if (order.step_version == 0) {
                        <a id="submitApply" href="#uploadInfo" class="easyui-linkbutton" iconcls='icon-document' style="margin:10px 20px;">@Html.Lang("submit_apply")</a>
                    }
                </div>
            </div>
        </form>
    </div>
</div>


@*弹出的订单明细对话框*@
<div id="dlg_details" class="easyui-dialog" style="width: 720px;  padding: 10px 10px" closed="true" buttons="#dlg_details_buttons" modal="true">
    <form id="fm" method="post">
        <table border="0" cellpadding="0" cellspacing="3" width="675">
            <tr>
                <td>
                    @Html.Lang("pro_num"):
                </td>
                <td>
                    <input id="item_no" name="item_no" style="width: 140px" />
                    <input type="hidden" name="item_id" id="item_id" />
                </td>
                <td>
                    @Html.Lang("pro_name"):
                </td>
                <td>
                    <input class="easyui-textbox" id="item_name" name="item_name" style="width: 140px" readonly="readonly" />
                </td>
                <td>
                    @Html.Lang("pro_model"):
                </td>
                <td>
                    <input class="easyui-textbox" id="item_modual" name="item_modual" style="width: 140px" readonly="readonly" />
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Lang("unit"):
                </td>
                <td>
                    <input class="easyui-textbox" id="unit_name" name="unit_name" style="width: 140px" readonly="readonly" />
                    <input type="hidden" name="unit_no" id="unit_no" />
                </td>
                <td>
                    @Html.Lang("qty"):
                </td>
                <td>
                    <input class="easyui-numberbox" id="qty" name="qty" style="width: 140px" precision="6" min="0" required="true" />
                </td>
                <td>
                    @Html.Lang("quote_num"):
                </td>
                <td>
                    <input class="easyui-textbox" id="quote_no" name="quote_no" style="width: 140px" />
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Lang("cost"):
                </td>
                <td>
                    <input class="easyui-numberbox" id="cost" name="cost" style="width: 140px" precision="6" min="0" required="true" />
                </td>
                <td>
                    @Html.Lang("tax_rate")%:
                </td>
                <td>
                    <input class="easyui-numberbox" id="tax_rate" name="tax_rate" style="width: 140px" required="true" />
                </td>
                <td>
                    @Html.Lang("discount_rate")%:
                </td>
                <td>
                    <input class="easyui-numberbox" id="discount_rate" name="discount_rate" precision="2" min="0" max="100" style="width: 140px" />
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Lang("deal_price"):
                </td>
                <td>
                    <input class="easyui-numberbox" id="deal_price" name="deal_price" style="width: 140px" precision="6" min="0" required="true" />
                </td>
                <td>
                    @Html.Lang("price_without_tax")：
                </td>
                <td>
                    <input class="easyui-numberbox" id="unit_price" name="unit_price" style="width: 140px" precision="6" min="0" required="true" />
                </td>
                <td>
                    @Html.Lang("taxed_price"):
                </td>
                <td>
                    <input class="easyui-numberbox" id="aux_tax_price" name="aux_tax_price" style="width: 140px" precision="6" min="0" required="true" />
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Lang("fee_rate")%:
                </td>
                <td>
                    <input class="easyui-numberbox" id="fee_rate" name="fee_rate" style="width: 140px" precision="2" min="0" max="100" required="true" />
                </td>
                <td>
                    @Html.Lang("customer_item_number"):
                </td>
                <td>
                    <input class="easyui-textbox" id="customer_po" name="customer_po" style="width: 140px" required="true" />
                </td>
                <td>
                    @Html.Lang("customer_item_model"):
                </td>
                <td>
                    <input class="easyui-textbox" id="customer_pn" name="customer_pn" style="width: 140px" required="true" />
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Lang("begin_date"):
                </td>
                <td>
                    <input class="easyui-datebox" id="delivery_date" name="delivery_date" style="width: 140px" required="true" />
                </td>
                <td>
                    @Html.Lang("finish_date"):
                </td>
                <td>
                    <input class="easyui-datebox" id="target_date" name="target_date" style="width: 140px" required="true" />
                </td>
                <td>
                    @Html.Lang("suggest_delivery_date"):
                </td>
                <td>
                    <input class="easyui-datebox" id="suggested_delivery_date" name="suggested_delivery_date" style="width: 140px" />
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Lang("confirm_date"):
                </td>
                <td>
                    <input class="easyui-datebox" id="confirm_date" name="confirm_date" style="width: 140px" />
                </td>
                <td>
                    @Html.Lang("project_name"):
                </td>
                <td>
                    <input class="easyui-combobox" id="project_no" name="project_no" textfield="name" valuefield="no" panelwidth="320px" style="width: 140px" required="true" editable="false" />
                </td>
                <td>
                    MU:
                </td>
                <td>
                    <input class="easyui-textbox" id="MU" name="MU" readonly="readonly" style="width: 140px" />
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Lang("pro_size"):
                </td>
                <td colspan="5">
                    <input class="easyui-textbox" id="comment" name="comment" style="width: 560px" />
                </td>
            </tr>
        </table>
    </form>
</div>
<div id="dlg_details_buttons">
    <a href="#" class="easyui-linkbutton" iconcls="icon-ok" onclick="saveOrderDetails()">
        @Html.Lang("save")
    </a> <a href="#" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#dlg_details').dialog('close')">
        @Html.Lang("cancel")
    </a>
</div>
