<script type="text/javascript">

    $(function () {

        $("#tbRule").datagrid({
            title: "模单编号管理",
            url: "@Url.Content("~/Authority/LoadModualNumbers")",
            fit: true,
            fitColumns: true,
            rownumbers: true,
            singleSelect: true,
            columns: [[
                        { field: 'id', title: 'ID', width: 120, hidden: true },
                        { field: 'modual_type', title: '型号类型', width: 180, align: "center" },
                        { field: 'prefix', title: '前缀', width: 120, align: "center" },
                        { field: 'num_length', title: '数字位数', width: 120, align: "center" },
                        { field: 'min_num', title: '最小数字', width: 120, align: "center" },
                        { field: 'max_num', title: '最大数字', width: 120, align: "center" },
                        { field: 'current_num', title: '当前可用数字', width: 120, align: "center" }
            ]],
            toolbar: [{
                text: "新增规则",
                iconCls: 'icon-add',
                handler: addRule
            }, '-', {
                text: "修改规则",
                iconCls: 'icon-edit',
                handler: editRule
            }, '-', {
                text: "删除规则",
                iconCls: 'icon-ok',
                handler: function () {
                    var row = $('#tbRule').datagrid('getSelected');
                    if (!row) { return; }
                    $.messager.confirm('操作确认', '确定要删除此规则吗?', function (r) {
                        if (r) {
                            $.post("@Url.Content("~/Authority/RemoveModualNumber")", { id: row.id }, function (data) {
                                if (!data.suc) {
                                    $.messager.show({
                                        title: '@Html.Lang("tip")',
                                        msg: data.msg
                                    });
                                } else {
                                    $('#tbRule').datagrid('reload');
                                }
                            });
                        }
                    });                    
                }
            }]
        });

    });

    var rule_id = 0;
    function addRule() {
        $("#fm").form("clear");
        $("#rule_dlg").dialog("setTitle", "新增规则").dialog("open");
        rule_id = 0;

        LoadModualType();
    }
    function editRule() {
        var row = $('#tbRule').datagrid('getSelected');
        if (!row) return;
        $('#fm').form('load', row);

        $("#rule_dlg").dialog("setTitle", "修改规则").dialog("open");
        rule_id = row.id;

        LoadModualType();
    }
    function saveRule() {
        var modual_type = $("#modual_type").combobox("getValue");
        var prefix = $("#prefix").val();
        var num_length = $("#num_length").numberbox("getValue");
        var min_num = $("#min_num").numberbox("getValue");
        var max_num = $("#max_num").numberbox("getValue");
        var current_num = $("#current_num").numberbox("getValue");

        if ($.trim(modual_type) == "") {
            alert("型号类型不能为空");
            return;
        }

        if (isNaN(num_length)) {
            alert("数字位数必须为数字");
            return;
        }

        if (isNaN(min_num)) {
            alert("最小数字必须为数字");
            return;
        }

        if (isNaN(max_num)) {
            alert("最大数字必须为数字");
            return;
        }

        if (isNaN(current_num)) {
            alert("当前数字必须为数字");
            return;
        }

        if (max_num.toString().length > num_length) {
            alert("最大数字的位数大于设置的数字位数");
            return;
        }

        $.post("@Url.Content("~/Authority/SaveModualNumber")", {
            modualType: modual_type,
            prefix: prefix,
            minNum: min_num,
            maxNum: max_num,
            currentNum: current_num,
            numLength: num_length,
            id: rule_id
        }, function (data) {
            if (data.suc) {
                $("#rule_dlg").dialog("close");
                $('#tbRule').datagrid('reload');
            } else {
                $.messager.show({
                    title: '@Html.Lang("tip")',
                    msg: data.msg
                });
            }
        });

    }

    function LoadModualType() {
        $('#modual_type').combobox('reload', '@Url.Content("~/Authority/GetModualTypes")');
    }

</script>

<table id="tbRule"></table>

<div id="rule_dlg" class="easyui-dialog" style="width: 340px; padding: 10px 5px" closed="true" modal="true" buttons="#rule-buttons">
    <div class="ftitle">
        规则内容
    </div>
    <form id="fm" method="post">
        <div style="text-align: center">
            <div class="fitem">  
                <label>型号类型:</label>
                <input class="easyui-combobox" name="modual_type" id="modual_type" style="width: 162px;" valueField="value" textField="value" />
            </div>
            <div class="fitem">  
                <label>前缀:</label>
                <input class="easyui-validatebox" name="prefix" id="prefix" style="width: 160px;" />
            </div>
            <div class="fitem">  
                <label>数字位数:</label>
                <input type="text" class="easyui-numberbox" name="num_length" id="num_length" style="width: 160px;" />
            </div>
            <div class="fitem">  
                <label>最小数字:</label>
                <input type="text" class="easyui-numberbox" name="min_num" id="min_num" style="width: 160px;" />
            </div>
            <div class="fitem">  
                <label>最大数字:</label>
                <input type="text" class="easyui-numberbox" name="max_num" id="max_num" style="width: 160px;" />
            </div>
            <div class="fitem">  
                <label>当前可用数字:</label>
                <input type="text" class="easyui-numberbox" name="current_num" id="current_num" style="width: 160px;" />
            </div> 
        </div>
    </form>
</div>
<div id="rule-buttons">
    <a href="#" class="easyui-linkbutton" iconcls="icon-ok" onclick="saveRule()">@Html.Lang("save")</a>
    <a href="#" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#rule_dlg').dialog('close')">@Html.Lang("cancel")</a>
</div>

